.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: url("../../assets/images/naimur.jpg") left / cover no-repeat;
    margin-bottom: 3rem;
}
